# Auth configuration
AUTH_SECRET="" # Added by `npx auth secret`. Read more: https://cli.authjs.dev
HMAC_SECRET_KEY='some-secret' # create this by running `openssl rand -base64 32`
AUTH_URL='' # For testing this should be your NGROK URL and for production this should be your production URL
NEXT_PUBLIC_APP_ID='app_1234567890' # APP ID from the developer portal

# World App / MiniKit
NEXT_PUBLIC_APP_NAME=WorldFans
VITE_APP_NAME=WorldFans
NEXT_PUBLIC_ACTION_ID=wfans-create-account

# World Chain
NEXT_PUBLIC_WORLDCHAIN_CHAIN_ID=480        # ejemplo: Sepolia
NEXT_PUBLIC_WORLDCHAIN_RPC=https://rpc.sepolia.worldchain.xyz
VITE_WORLDCHAIN_CHAIN_ID=480
VITE_WORLDCHAIN_RPC=https://rpc.sepolia.worldchain.xyz

# Contratos (public)
NEXT_PUBLIC_WLDY_ADDRESS=0xA511f41a9777084F57c4b6213b5636e33d7e6448
NEXT_PUBLIC_PAY_ADDRESS=0xf0882554ee924278806d708396f1a7975b732522
NEXT_PUBLIC_TREASURY_ADDRESS=0xE9e73B144d85edb4E69C1Bb78AAA705399a8CE4d
VITE_WFANS=0xA511f41a9777084F57c4b6213b5636e33d7e6448
VITE_PAY_CONTRACT=0xf0882554ee924278806d708396f1a7975b732522
VITE_TREASURY_ADDRESS=0xE9e73B144d85edb4E69C1Bb78AAA705399a8CE4d
VITE_DATA_CONTRACT=0x92F4E9f9E8123c579622c1443a8a3b4d585d8A38

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://wfans-demo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=public-anon-key
VITE_SUPABASE_URL=https://wfans-demo.supabase.co
VITE_SUPABASE_ANON_KEY=public-anon-key

# Flags
NEXT_PUBLIC_ENABLE_WLDY=false
VITE_ENABLE_WLDY=false

# Opcional si validas vía servicio cloud
WORLDID_API_URL=https://id.worldcoin.org/verify
WORLDID_API_KEY=changeme
